body {
    background-color:#FFEBCD;
}
.chapter {
    text-align:  center;
}

.fat {
    font-weight: bold;
}

.tilt {
    font-style: italic;
}

.color {
    background-color: #F6FF18;
}

.line {
   text-decoration: line-through; 
}

.king {
    text-decoration: underline;
}

p{
    color: #2F4F4F;
}

h3{
    color:#800000;
}