* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color:#F5FFFA;
}

.container {
    max-width: 1140px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.lesson {
    width: 100px;
    height: 100px;
    box-shadow: 0 3px 6px rgba(173, 173, 173, 0.16);
    border-radius: 6px;
    margin: 20px 30px;
}