* {
    box-sizing: border-box
}

.rectangle{
    width: 1000px;
    position: absolute;
    left: 50%;
    margin-left: -500px;
}

.box {
    width: 376px;
    height: 375px;
    display: inline-block;
    margin-right: 99px;
}

.rectangle-image {
    display: inline-block;
}

img {
    width: 376px;
    height: 375px;
}

.rectangle-info {
    background-color: #ffffff;
    display: inline-block;
}

h1 {
    color: #2f2f2f;
    font-size: 23px;
}

.description {
    color: #2f2f2f;
    font-weight: 400;
    margin-top: 34px;
}

.rectangle-price {
    display: inline-block;
    margin-top: 55px;
    margin-bottom: 23px;
    width: 35px;
    height: 14px;
    color: #2f2f2f;
    font-size: 15px;
    font-weight: 400;
}

.rectangle-price-figure {
    display: inline-block;
    width: 103px;
    height: 28px;
    color: #2f2f2f;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 56px;
}

button {
    width: 252px;
    height: 50px;
    background-color: #ec744a;
    display: inline-block;
    color: #ffffff;
    font-size: 19px;
}